<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil pour Administrateurs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://img.freepik.com/free-photo/shopping-bag-cart_23-2148879372.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center">
    <div class="text-center bg-light p-4 rounded">
        <h1>Bienvenue sur notre site !</h1>
        <p>Choisissez votre type d'utilisateur :</p>
        <a href="/admin" class="btn btn-primary m-2">Administrateur</a>
        <a href="/client" class="btn btn-secondary m-2">Utilisateur standard</a>
    </div>
</body>
</html>
