<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur</title>
    <!-- Lien vers votre fichier CSS pour appliquer les styles -->
    <link rel="stylesheet" href="../public/css/css.css">
</head>
<body>
    <!-- En-tête de la page avec le titre -->
    <header>
        <h1>Erreur</h1>
    </header>
    <!-- Section principale de la page -->
    <main>
        <h2>Une erreur s'est produite :</h2>
        <p><%= error.message %></p>
        <p>Retour à <a href="/">la page d'accueil</a>.</p>
    </main>
    <!-- Pied de page de la page -->
    <footer>
        <p>© 2024 Tous droits réservés.</p>
    </footer>
</body>
</html>
