<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des produits</title>
    <link rel="stylesheet" href="../public/css/css.css">
    <style>
        /* Vos styles CSS ici */
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            margin-top: 50px;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #f8f9fa;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        h2 {
            margin-top: 0;
        }
        a {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            padding: 5px 15px;
            border-radius: 5px;
            font-size: 14px;
            margin-top: 10px;
        }
        a:hover {
            background-color: #0056b3;
        }
        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Liste des produits</h1>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <h2><%= product.name %></h2>
                    <p>Prix : <%= product.price %> €</p>
                    <!-- Utilisation d'une condition pour afficher un message différent en fonction de la disponibilité du produit -->
                    <% if (product.quantity > 0) { %>
                        <p>En stock</p>
                    <% } else { %>
                        <p>Indisponible</p>
                    <% } %>
                    <!-- Lien vers la page de détails du produit -->
                    <a href="/products/<%= product.id %>">Détails</a>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
