<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface utilisateur standard</title>
    <link rel="stylesheet" href="../public/css/css.css">
    <style>
        /* Vos styles CSS ici */
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #343a40;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            border-bottom: 2px solid #adb5bd;
        }
        h1 {
            margin-top: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }
        nav ul li {
            display: inline;
            margin-right: 20px;
        }
        nav ul li a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
        }
        nav ul li a:hover {
            color: #ced4da;
        }
        main {
            padding: 20px;
        }
        footer {
            background-color: #343a40;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            margin-top: 20px;
            border-top: 2px solid #adb5bd;
        }
    </style>
</head>
<body>
    <header>
        <h1>Bienvenue Utilisateur Standard</h1>
        <nav>
            <ul>
                <li><a href="/products">Liste des produits</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Liste des produits</h2>
            <!-- Insérez ici la logique pour afficher la liste des produits -->
        </section>
    </main>
    <footer>
        <p>© 2024 Tous droits réservés.</p>
    </footer>
</body>
</html>
